<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'my_subjects.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
<h2>Create a New Post</h2>
<form method="POST" action="{{ url_for('subject') }}" enctype="multipart/form-data">
    <div>
        <label for="name">Subject Name</label>
        <select name="name" id="name">
            {% for teacher in teachers %}
                <option value="{{ teacher.subject }}">{{ teacher.subject }}</option>
            {% endfor %}
        </select>
    </div>
    <hr>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <hr>
    <div>
        <label for="grade">Grade:</label>
        <select id="grade" name="grade">
            {% for teacher in teachers %}
                <option value="{{ teacher.grade }}">{{ teacher.grade }}</option>
            {% endfor %}
        </select>
        <br><br>
    </div>
    <div>
        <label for="class">Class:</label>
        <select id="class" name="class">
            {% for teacher in teachers %}
                <option value="{{ teacher.Class }}">{{ teacher.Class }}</option>
            {% endfor %}
        </select>
        <br><br>
    </div>
    <hr>
    <div>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
    </div>
    <hr>
    <div>
        <label for="pdf_file">Attach PDF:</label>
        <input type="file" id="pdf_file" name="pdf_file">
    </div>
    <hr>
    <div>
        <label for="word_file">Attach Word Document:</label>
        <input type="file" id="word_file" name="word_file">
    </div>
    <hr>
    <div>
        <label for="powerpoint_file">Attach PowerPoint:</label>
        <input type="file" id="powerpoint_file" name="powerpoint_file">
    </div>
    <hr>
    <div>
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date">
    </div>
    <hr>
    <div>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date">
    </div>
    <hr>
    <div>
        <input type="checkbox" name="notification" id="notification">
        <label for="notification">Notify the Students</label>
    </div>
    <hr>
    <button type="submit">Create Post</button>
</form>
{% endblock %}
</body>
</html>