{% extends 'my_subjects.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
<h2>Create a New Post</h2>
<form method="POST" action="{{ url_for('create_post') }}" enctype="multipart/form-data">
    <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    </div>
    <hr>
    <div>
    <label for="content">Content:</label>
    <textarea id="content" name="content" required></textarea>
    </div>
    <hr>
    <div>
    <label for="pdf_file">Attach PDF:</label>
    <input type="file" id="pdf_file" name="pdf_file">
    </div>
    <hr>
    <div>
    <label for="word_file">Attach Word Document:</label>
    <input type="file" id="word_file" name="word_file">
    </div>
    <hr>
    <div>
    <label for="powerpoint_file">Attach PowerPoint:</label>
    <input type="file" id="powerpoint_file" name="powerpoint_file">
    </div>
    <hr>
    <button type="submit">Create Post</button>
</form>
{% endblock %}